<div ng-if="!vm.isSwitch.get()">
    <md-tooltip ng-if="vm.tooltip.get()" md-direction="left">{{vm.tooltip.get()}}</md-tooltip>
    <div ng-if="vm.isForm.get()">
        <div ng-show="vm.canShowEditableFields.get()" class="md-checkbox-padding">
            <md-checkbox 
                ng-model="vm.valueModel"
                name="{{vm.name.get()}}"
                ng-checked="vm.valueModel"
                aria-label="{{vm.name.get()}}"
                ng-change="vm.runOnChangeTrigger()"
                class="checkbox-default">
                {{vm.valueTitle.get()}}
            </md-checkbox>
        </div>
        <div ng-hide="vm.canShowEditableFields.get()">
            <label>{{vm.title.get()}}<label><br/>
            <strong>&nbsp;{{vm.getValue()}}</strong>
        </div>
    </div>
    <div ng-if="!vm.isForm.get()" class="md-checkbox-padding">
        <md-checkbox 
            ng-model="vm.valueModel"
            name="{{vm.name.get()}}"
            ng-checked="vm.valueModel"
            aria-label="{{vm.name.get()}}"
            ng-change="vm.runOnChangeTrigger()"
            class="checkbox-default">
            {{vm.valueTitle.get()}}
        </md-checkbox>
    </div>
</div>
<div ng-if="vm.isSwitch.get()">
    <md-tooltip ng-if="vm.tooltip.get()" md-direction="left">{{vm.tooltip.get()}}</md-tooltip>
    <div ng-if="vm.isForm.get()">
        <div ng-show="vm.canShowEditableFields.get()">
            <md-switch
                ng-model="vm.valueModel"
                name="{{vm.name.get()}}"
                ng-checked="vm.valueModel"
                aria-label="{{vm.name.get()}}"
                ng-change="vm.runOnChangeTrigger()"
                class="switch-default">
                {{vm.valueTitle.get()}}
            </md-switch>
        </div>
        <div ng-hide="vm.canShowEditableFields.get()">
            <label>{{vm.title.get()}}<label><br/>
            <strong>&nbsp;{{vm.getValue()}}</strong>
        </div>
    </div>
    <div ng-if="!vm.isForm.get()">
        <md-switch
            ng-model="vm.valueModel"
            name="{{vm.name.get()}}"
            ng-checked="vm.valueModel"
            aria-label="{{vm.name.get()}}"
            ng-change="vm.runOnChangeTrigger()"
            class="switch-default">
            {{vm.valueTitle.get()}}
        </md-switch>
    </div>
</div>