<div ng-if="!vm.isTextArea.value">
    <md-tooltip ng-if="vm.tooltip.value" md-direction="left">{{vm.tooltip.value}}</md-tooltip>
    <div ng-if="vm.isForm.value">
        <md-input-container class="md-block" ng-show="vm.canShowEditableFields.get()">
            <label>{{vm.title.value}}</label>
            <input 
                type="{{vm.type.value}}"
                ng-model="vm.valueModel"
                ng-required="vm.isRequired.value"
                md-maxlength="{{vm.maxLength.value}}"
                minlength="{{vm.minLength.value}}"
                name="{{vm.name.value}}"
                aria-label="{{vm.name.value}}"
                ng-change="vm.runOnChangeTrigger()"
                ng-model-options="vm.modelOptions.value"
                step="any"
                number-validation="{{vm.numberValidation.value}}"
                number-block
                ng-max="vm.max.value"
                ng-min="vm.min.value"
                autocomplete="off"/>
                <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                    <div ng-message="required">{{vm.requiredMessage.value}}</div>
                    <div ng-message="md-maxlength">{{vm.maxLengthMessage.value}}</div>
                    <div ng-message="minlength">{{vm.minLengthMessage.value}}</div>
                    <div ng-message="email">{{vm.emailMessage.value}}</div>
                    <div ng-message="url">{{vm.urlMessage.value}}</div>
                    <div ng-message="number">{{vm.numberMessage.value}}</div>
                    <div ng-message="max">{{vm.maxMessage.value}}</div>
                    <div ng-message="min">{{vm.minMessage.value}}</div>
                </div>
        </md-input-container>
        <div ng-hide="vm.canShowEditableFields.get()">
            <label>{{vm.title.value}}</label><br/>
            <strong>{{vm.display)}}</strong>
        </div>
    </div>
    <div ng-if="!vm.isForm.value">
        <md-input-container class="md-block">
            <label>{{vm.title.value}}</label>
            <input
                type="{{vm.type.value}}"
                ng-model="vm.valueModel"
                ng-required="vm.isRequired.value"
                md-maxlength="{{vm.maxLength.value}}"
                minlength="{{vm.minLength.value}}"
                name="{{vm.name.value}}"
                aria-label="{{vm.name.value}}"
                ng-change="vm.runOnChangeTrigger()"
                ng-model-options="vm.modelOptions.value"
                step="any"
                number-validation="{{vm.numberValidation.value}}"
                number-block
                ng-max="vm.max.value"
                ng-min="vm.min.value"
                autocomplete="off"/>
                <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                    <div ng-message="required">{{vm.requiredMessage.value}}</div>
                    <div ng-message="md-maxlength">{{vm.maxLengthMessage.value}}</div>
                    <div ng-message="minlength">{{vm.minLengthMessage.value}}</div>
                    <div ng-message="email">{{vm.emailMessage.value}}</div>
                    <div ng-message="url">{{vm.urlMessage.value}}</div>
                    <div ng-message="number">{{vm.numberMessage.value}}</div>
                    <div ng-message="max">{{vm.maxMessage.value}}</div>
                    <div ng-message="min">{{vm.minMessage.value}}</div>
                </div>
        </md-input-container>
    </div>
</div>

<div ng-if="vm.isTextArea.value">
    <md-tooltip ng-if="vm.tooltip.value" md-direction="left">{{vm.tooltip.value}}</md-tooltip>
    <div ng-if="vm.isForm.value">
        <md-input-container class="md-block" ng-show="vm.canShowEditableFields.get()">
            <label>{{vm.title.value}}</label>
            <textarea
                ng-model="vm.valueModel"
                ng-required="vm.isRequired.value"
                md-maxlength="{{vm.maxLength.value}}"
                rows="{{vm.rows.value}}"
                minlength="{{vm.minLength.value}}"
                name="{{vm.name.value}}"
                aria-label="{{vm.name.value}}"
                ng-change="vm.runOnChangeTrigger()"
                ng-model-options="vm.modelOptions.value"
                step="any"
                number-validation="{{vm.numberValidation.value}}"
                ng-max="vm.max.value"
                ng-min="vm.min.value"
                number-block></textarea>
                <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                    <div ng-message="required">{{vm.requiredMessage.value}}</div>
                    <div ng-message="md-maxlength">{{vm.maxLengthMessage.value}}</div>
                    <div ng-message="minlength">{{vm.minLengthMessage.value}}</div>
                    <div ng-message="email">{{vm.emailMessage.value}}</div>
                    <div ng-message="url">{{vm.urlMessage.value}}</div>
                    <div ng-message="number">{{vm.numberMessage.value}}</div>
                </div>
        </md-input-container>
        <div ng-hide="vm.canShowEditableFields.get()">
            <label>{{vm.title.value}}</label><br/>
            <strong>{{vm.display}}</strong>
        </div>
    </div>
    <div ng-if="!vm.isForm.value">
        <md-input-container class="md-block">
            <label>{{vm.title.value}}</label>
            <textarea 
                ng-model="vm.valueModel"
                ng-required="vm.isRequired.value"
                md-maxlength="{{vm.maxLength.value}}"
                rows="{{vm.rows.value}}"
                minlength="{{vm.minLength.value}}"
                name="{{vm.name.value}}"
                aria-label="{{vm.name.value}}"
                ng-change="vm.runOnChangeTrigger()"
                ng-model-options="vm.modelOptions.value"
                step="any"
                number-validation="{{vm.numberValidation.value}}"
                ng-max="vm.max.value"
                ng-min="vm.min.value"
                number-block></textarea>
                <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                    <div ng-message="required">{{vm.requiredMessage.value}}</div>
                    <div ng-message="md-maxlength">{{vm.maxLengthMessage.value}}</div>
                    <div ng-message="minlength">{{vm.minLengthMessage.value}}</div>
                    <div ng-message="email">{{vm.emailMessage.value}}</div>
                    <div ng-message="url">{{vm.urlMessage.value}}</div>
                    <div ng-message="number">{{vm.numberMessage.value}}</div>
                </div>
        </md-input-container>
    </div>
</div>