<div ng-if="vm.isForm.value">
    <md-tooltip ng-if="vm.tooltip.value" md-direction="left">{{vm.tooltip.value}}</md-tooltip>
    <div ng-if="vm.canShowEditableFields.get()" layout layout-align="center center" class="datetimepicker">
        <md-input-container flex>
            <label>{{vm.title.value + ": " + vm.dateString}}</label> 
            <input mdc-datetime-picker
                type="text"
                ng-model="vm.valueModel"
                id="{{vm.name.value}}"
                name="{{vm.name.value}}"
                format="{{vm.format.value}}"
                short-time="vm.shortTime.value"
                min-date="vm.minDate.value"
                max-date="vm.maxDate.value"
                date="vm.hasDate.value"
                time="vm.hasTime.value"
                minutes="vm.hasMinutes.value"
                cancel-text="{{vm.cancelText.value}}"
                today-text="{{vm.todayText.value}}"
                ok-text="{{vm.okText.value}}"
                week-start="vm.weekStart.value"
                weeks-days="vm.weeksDays.value"
                show-todays-date
                disable-parent-scroll="vm.disableParentScroll.value"
                auto-ok="vm.autoOk.value"
                edit-input="vm.editInput.value"
                click-outside-to-close="vm.clickOutsideToClose.value"
                ng-change="vm.runOnChangeTrigger()"
                ng-disabled="vm.isDisabled.value"
                ng-required="vm.isRequired.value"/>
                <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                    <div ng-message="required">{{vm.requiredMessage.value}}</div>
                    <div ng-message="parse">{{vm.parseMessage.value}}</div>
                </div>
        </md-input-container>
        <div flex="5">
          <md-button class="md-primary md-icon-button" style="top:-12px;left:-12px;" ng-click="vm.displayDialogEdit()">
            <md-icon class="material-icons">today</md-icon>
          </md-button>
        </div>
    </div>
    <div ng-if="!vm.canShowEditableFields.get()">
        <label>{{vm.title.value}}</label><br/>
        <strong>{{vm.dateString}}</strong>
    </div>
</div>
<div ng-if="!vm.isForm.value">
    <md-tooltip ng-if="vm.tooltip.value" md-direction="left">{{vm.tooltip.value}}</md-tooltip>
    <div layout layout-align="center center" layout- class="datetimepicker">
        <md-input-container flex>
            <label>{{vm.title.value + ": " + vm.dateString}}</label> 
            <input mdc-datetime-picker
                type="text"
                ng-model="vm.valueModel"
                id="{{vm.name.value}}"
                name="{{vm.name.value}}"
                format="{{vm.format.value}}"
                short-time="vm.shortTime.value"
                min-date="vm.minDate.value"
                max-date="vm.maxDate.value"
                date="vm.hasDate.value"
                time="vm.hasTime.value"
                minutes="vm.hasMinutes.value"
                cancel-text="{{vm.cancelText.value}}"
                today-text="{{vm.todayText.value}}"
                ok-text="{{vm.okText.value}}"
                week-start="vm.weekStart.value"
                weeks-days="vm.weeksDays.value"
                show-todays-date
                disable-parent-scroll="vm.disableParentScroll.value"
                auto-ok="vm.autoOk.value"
                edit-input="vm.editInput.value"
                click-outside-to-close="vm.clickOutsideToClose.value"
                ng-change="vm.runOnChangeTrigger()"
                ng-disabled="vm.isDisabled.value"
                ng-required="vm.isRequired.value"/>
                <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                    <div ng-message="required">{{vm.requiredMessage.value}}</div>
                    <div ng-message="parse">{{vm.parseMessage.value}}</div>
                </div>
        </md-input-container>
        <div flex="5">
          <md-button class="md-primary md-icon-button" style="top:-12px;left:-12px;" ng-click="vm.displayDialogEdit()">
            <md-icon class="material-icons">today</md-icon>
          </md-button>
        </div>
    </div>
</div>