<div ng-if="vm.isForm.get()">
    <md-tooltip ng-if="vm.tooltip.get()" md-direction="left">{{vm.tooltip.get()}}</md-tooltip>
    <div ng-if="vm.canShowEditableFields.get()" layout layout-align="center center" class="datetimepicker">
        <md-input-container flex>
            <label>{{vm.title.get() + ": " + vm.getDateString(true)}}</label> 
            <input mdc-datetime-picker
                type="text"
                ng-model="vm.valueModel"
                id="{{vm.name.get()}}"
                name="{{vm.name.get()}}"
                format="{{vm.format.get()}}"
                short-time="vm.shortTime.get()"
                min-date="vm.minDate.get()"
                max-date="vm.maxDate.get()"
                date="vm.hasDate.get()"
                time="vm.hasTime.get()"
                minutes="vm.hasMinutes.get()"
                cancel-text="{{vm.cancelText.get()}}"
                today-text="{{vm.todayText.get()}}"
                ok-text="{{vm.okText.get()}}"
                week-start="vm.weekStart.get()"
                weeks-days="vm.weeksDays.get()"
                show-todays-date
                disable-parent-scroll="vm.disableParentScroll.get()"
                auto-ok="vm.autoOk.get()"
                edit-input="vm.editInput.get()"
                click-outside-to-close="vm.clickOutsideToClose.get()"
                ng-change="vm.runOnChangeTrigger()"
                ng-disabled="vm.isDisabled.get()"
                ng-required="vm.isRequired.get()"/>
                <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                    <div ng-message="required">{{vm.requiredMessage.get()}}</div>
                    <div ng-message="parse">{{vm.parseMessage.get()}}</div>
                </div>
        </md-input-container>
        <div flex="5">
          <md-button class="md-primary md-icon-button" style="top:-12px;left:-12px;" ng-click="vm.displayDialogEdit()">
            <md-icon class="material-icons">today</md-icon>
          </md-button>
        </div>
    </div>
    <div ng-if="!vm.canShowEditableFields.get()">
        <label>{{vm.title.get()}}</label><br/>
        <strong>{{vm.getDateString()}}</strong>
    </div>
</div>
<div ng-if="!vm.isForm.get()">
    <md-tooltip ng-if="vm.tooltip.get()" md-direction="left">{{vm.tooltip.get()}}</md-tooltip>
    <div layout layout-align="center center" layout- class="datetimepicker">
        <md-input-container flex>
            <label>{{vm.title.get() + ": " + vm.getDateString(true)}}</label> 
            <input mdc-datetime-picker
                type="text"
                ng-model="vm.valueModel"
                id="{{vm.name.get()}}"
                name="{{vm.name.get()}}"
                format="{{vm.format.get()}}"
                short-time="vm.shortTime.get()"
                min-date="vm.minDate.get()"
                max-date="vm.maxDate.get()"
                date="vm.hasDate.get()"
                time="vm.hasTime.get()"
                minutes="vm.hasMinutes.get()"
                cancel-text="{{vm.cancelText.get()}}"
                today-text="{{vm.todayText.get()}}"
                ok-text="{{vm.okText.get()}}"
                week-start="vm.weekStart.get()"
                weeks-days="vm.weeksDays.get()"
                show-todays-date
                disable-parent-scroll="vm.disableParentScroll.get()"
                auto-ok="vm.autoOk.get()"
                edit-input="vm.editInput.get()"
                click-outside-to-close="vm.clickOutsideToClose.get()"
                ng-change="vm.runOnChangeTrigger()"
                ng-disabled="vm.isDisabled.get()"
                ng-required="vm.isRequired.get()"/>
                <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                    <div ng-message="required">{{vm.requiredMessage.get()}}</div>
                    <div ng-message="parse">{{vm.parseMessage.get()}}</div>
                </div>
        </md-input-container>
        <div flex="5">
          <md-button class="md-primary md-icon-button" style="top:-12px;left:-12px;" ng-click="vm.displayDialogEdit()">
            <md-icon class="material-icons">today</md-icon>
          </md-button>
        </div>
    </div>
</div>