<md-dialog aria-label="{{bindCtrl.title.get()}}" ng-class="{'whirl double-up whirlback': bindCtrl.onTask.get() }" class="{{bindCtrl.size.get()}}">
    <md-toolbar>      
        <div class="md-toolbar-tools" md-colors="{color: 'default-primary-50'}" layout>
            <div flex layout layout-align="start center">
                <div class="md-icon-button"><md-icon class="material-icons">{{bindCtrl.icon.get()}}</md-icon></div>      
                <h2>&nbsp{{bindCtrl.title.get()}}</h2>
            </div>
            <div flex layout layout-align="end center" ng-if="bindCtrl.canViewHistory.get()">
                <md-button layout layout-align="end end" class="md-primary btn-success md-fab md-mini" ng-click="bindCtrl.history.set()">
                    <md-tooltip>{{bindCtrl.historyTooltip.get()}}</md-tooltip>
                    <md-icon class="material-icons">history</md-icon>
                </md-button>
            </div>            
        </div>
    </md-toolbar>
    <form name="bindCtrl.entityForm" novalidate ng-submit="bindCtrl.entityForm.$valid && bindCtrl.submit()">
        <md-dialog-content>
            <md-content layout-padding>
                <div compile="bindCtrl.stringhtmlcomponent" flex="100"></div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-if="bindCtrl.allowActions.get()">
            <md-button md-colors="{background: 'default-primary-50'}" ng-show="bindCtrl.canCancel.get()" ng-click="bindCtrl.cancel()" ng-disabled="bindCtrl.onTask.get()" ng-href="{{bindCtrl.cancelHref.get()}}">
                <md-icon class="material-icons">{{bindCtrl.cancelIcon.get()}}</md-icon>&nbsp;{{bindCtrl.cancelText.get()}}
            </md-button>
            <md-button class="md-warn" ng-show="bindCtrl.canRemove.get()" ng-click="bindCtrl.remove()" ng-disabled="bindCtrl.onTask.get()" ng-href="{{bindCtrl.removeHref.get()}}">
                <md-icon class="material-icons">{{bindCtrl.removeIcon.get()}}</md-icon>&nbsp;{{bindCtrl.removeText.get()}}
            </md-button>
            <md-button type="submit" class="md-primary" ng-show="bindCtrl.canSave.get()" ng-disabled="bindCtrl.onTask.get() || !bindCtrl.entityForm.$valid">
                <md-tooltip ng-if="bindCtrl.onTask.get() || !bindCtrl.entityForm.$valid">{{bindCtrl.saveTooltip.get()}}</md-tooltip>
                <md-icon class="material-icons">{{bindCtrl.saveIcon.get()}}</md-icon>&nbsp;{{bindCtrl.saveText.get()}}
            </md-button>
            <md-button class="md-accent" ng-show="bindCtrl.canEdit.get()" ng-click="bindCtrl.edit()" ng-disabled="bindCtrl.onTask.get()" ng-href="{{bindCtrl.editHref.get()}}">
                <md-icon class="material-icons">{{bindCtrl.editIcon.get()}}</md-icon>&nbsp;{{bindCtrl.editText.get()}}
            </md-button>
            <md-button md-colors="{background: 'default-primary-50'}" ng-show="bindCtrl.canOk.get()" ng-click="bindCtrl.ok()" ng-disabled="bindCtrl.onTask.get()" ng-href="{{bindCtrl.okHref.get()}}">
                <md-icon class="material-icons">{{bindCtrl.okIcon.get()}}</md-icon>&nbsp;{{bindCtrl.okText.get()}}
            </md-button>
            <md-button class="md-primary" ng-show="bindCtrl.canProcess.get()" ng-click="bindCtrl.process()" ng-disabled="bindCtrl.onTask.get() || !bindCtrl.entityForm.$valid">
                <md-tooltip ng-if="bindCtrl.onTask.get() || !bindCtrl.entityForm.$valid">{{bindCtrl.saveTooltip.get()}}</md-tooltip>
                <md-icon class="material-icons">{{bindCtrl.processIcon.get()}}</md-icon>&nbsp;{{bindCtrl.processText.get()}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>