<md-dialog aria-label="Elija una clínica médica" class="md-md">
    <md-toolbar md-colors="{background: 'default-primary-100'}">
        <div class="md-toolbar-tools" layout>
            <div flex layout layout-align="start center">
                <div class="md-icon-button"><md-icon class="material-icons">warning</md-icon></div>      
                <h2>&nbsp Elija una Clínica Médica</h2>
            </div>           
        </div>
    </md-toolbar>
    <div>
        <md-dialog-content>
            <md-content layout-padding>
                <div flex>
                    <entifix-select 
                        value-model="vm.systemOwner" 
                        show-editable-fields="true"
                        query-details="vm.systemOwnerQueryDetails" 
                        component-construction="vm.systemOwnerComponentConstruction" 
                        component-binding-out="vm.systemOwnerInstance">
                    </entifix-select>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button md-colors="{background: 'default-primary-50'}" ng-click="vm.cancel()">
                <md-icon class="material-icons">clear</md-icon> Cancelar
            </md-button>
            <md-button md-colors="{background: 'default-primary-50'}" ng-click="vm.ok()">
                <md-icon class="material-icons">done</md-icon> Ok
            </md-button>
        </md-dialog-actions>
    </div>
</md-dialog>