<br/><br/><br/>
<div class="row">
    <div class="col-lg-1 hidden-md"></div>
    <div class="col-xs-12 col-md-6 col-lg-5">
        <div class="row hidden-xs hidden-sm">
            <br/><br/><br/><br/><br/><br/>
        </div>        
        <div class="row text-danger text-center">            
            <h1>
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp Acceso Restringido
            </h1>            
        </div>
        <br/>
        <div class="row text-center">            
            <h3>El usuario actual no tiene permisos para ver el recurso solicitado</h3>
            <br/>
            <div class="well well-sm"><h3>{{'Usuario: ' + vm.nameCurrentUser}}</h3></div>            
        </div>
        <br/><br/>
        <div class="row text-mutted text-center">            
            <p>Si necesita el acceso, por favor comuníquese con el administrador del sistema</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-5">
        <img src="./img/security.png" alt="Image" class="img-responsive center-block" />
    </div>
    <div class="col-lg-1 hidden-md"></div>    
</div>
<br/><br/><br/>
