<md-dialog aria-label="Elija una Bodega para trabajar" class="md-md">
    <md-toolbar md-colors="{background: 'default-primary-100'}">
        <div class="md-toolbar-tools" layout>
            <div flex layout layout-align="start center">
                <div class="md-icon-button"><md-icon class="material-icons">warning</md-icon></div>      
                <h2>&nbsp Elija una Bodega para trabajar</h2>
            </div>           
        </div>
    </md-toolbar>
    <div>
        <md-dialog-content>
            <md-content layout-padding>
                <div flex>
                    <md-input-container class="entifix-select-width">
                        <label>Bodega</label>
                        <md-select
                            ng-model="vm.workgroupName"
                            aria-label="Bodega">
                            <md-option ng-repeat="item in vm.workgroups" ng-click="vm.setWorkgroupId(item)" ng-value="item.nombreBodega">{{item.nombreBodega}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button md-colors="{background: 'default-primary-50'}" ng-click="vm.cancel()">
                <md-icon class="material-icons">clear</md-icon> Cancelar
            </md-button>
            <md-button md-colors="{background: 'default-primary-50'}" ng-click="vm.ok()">
                <md-icon class="material-icons">done</md-icon> Ok
            </md-button>
        </md-dialog-actions>
    </div>
</md-dialog>