<md-dialog aria-label="Configuración del reporte" class="md-md">
    <md-toolbar md-colors="{background: 'default-primary-100'}">
        <div class="md-toolbar-tools" layout>
            <div flex layout layout-align="start center">
                <div class="md-icon-button"><md-icon class="material-icons">chrome_reader_mode</md-icon></div>      
                <h2>&nbsp {{vm.header}}</h2>
            </div>           
        </div>
    </md-toolbar>
    <div>
        <md-dialog-content>
            <md-content layout-padding>
                <div flex>
                    <entifix-select 
                        value-model="vm.entity.pageSize" 
                        show-editable-fields="true"
                        component-construction="vm.pageSizeComponentConstruction" 
                        component-binding-out="vm.pageSizeInstance">
                    </entifix-select>
                </div>
                <div flex>
                    <entifix-checkbox-switch 
                        value-model="vm.entity.tableStriped" 
                        show-editable-fields="true"
                        component-construction="vm.tableStripedComponentConstruction">
                    </entifix-checkbox-switch>
                </div>
                <div flex>
                    <entifix-select 
                        value-model="vm.entity.pageOrientation" 
                        show-editable-fields="true"
                        component-construction="vm.pageOrientationComponentConstruction" 
                        component-binding-out="vm.pageOrientationInstance">
                    </entifix-select>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancel()">
                <md-icon class="material-icons">clear</md-icon> Cancelar
            </md-button>
            <md-button  ng-click="vm.ok()">
                <md-icon class="material-icons">done</md-icon> Ok
            </md-button>
        </md-dialog-actions>
    </div>
</md-dialog>