<div ng-class="{'whirl double-up whirlback': vm.isLoading.get()}" ng-if="!vm.isMultiple.get()">
    <md-tooltip ng-if="vm.tooltip.get()" md-direction="left">{{vm.tooltip.get()}}</md-tooltip>
    <div ng-if="vm.isForm.get()">
        <md-input-container ng-if="vm.canShowEditableFields.get()" class="entifix-select-width">
            <label>{{vm.title.get()}}</label>
            <md-select
                ng-model="vm.valueModel"
                ng-required="vm.isRequired.get()"
                ng-change="vm.runOnChangeTrigger()"
                name="{{vm.name.get()}}"
                aria-label="{{vm.name.get()}}"
                md-on-close="vm.cleanSearch()"
                data-md-container-class="selectSelectHeader">
                <md-select-header class="select-header">
                    <input type="search" ng-model="vm.searchText" placeholder="Buscar {{vm.title.get()}} ..." class="header-searchbox md-text" ng-keydown="$event.stopPropagation()"/>
                </md-select-header>
                <md-optgroup label={{vm.title.get()}}>
                    <md-option ng-if="vm.canShowNoneOption.get()" ng-value="undefined"><em>{{vm.noneLabel.get()}}</em></md-option>
                    <md-option ng-repeat="item in vm.items | filter:vm.searchText" ng-value="item.Value">{{item.Display}}</md-option>
                </md-optgroup>
            </md-select>
            <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                <div ng-message="required">{{vm.requiredMessage.get()}}</div>
            </div> 
        </md-input-container>
        
        <div ng-if="!vm.canShowEditableFields.get()">
            <label>{{vm.title.get()}}</label><br/>
            <strong>{{vm.getDisplayValue()}}</strong>
        </div>
    </div>
    <div ng-if="!vm.isForm.get()">
        <md-input-container class="entifix-select-width">
            <label>{{vm.title.get()}}</label>
            <md-select
                ng-model="vm.valueModel"
                ng-required="vm.isRequired.get()"
                ng-change="vm.runOnChangeTrigger()"
                name="{{vm.name.get()}}"
                aria-label="{{vm.name.get()}}"
                md-on-close="vm.cleanSearch()"
                data-md-container-class="selectSelectHeader">
                <md-select-header class="select-header">
                    <input type="search" ng-model="vm.searchText" placeholder="Buscar {{vm.title.get()}} ..." class="header-searchbox md-text" ng-keydown="$event.stopPropagation()"/>
                </md-select-header>
                <md-optgroup label={{vm.title.get()}}>
                    <md-option ng-if="vm.canShowNoneOption.get()" ng-value="undefined"><em>{{vm.noneLabel.get()}}</em></md-option>
                    <md-option ng-repeat="item in vm.items | filter:vm.searchText" ng-value="item.Value">{{item.Display}}</md-option>
                </md-optgroup>
            </md-select>
            <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                <div ng-message="required">{{vm.requiredMessage.get()}}</div>
            </div>
        </md-input-container>   
    </div>
</div>
<div ng-class="{'whirl double-up whirlback': vm.isLoading.get()}" ng-if="vm.isMultiple.get()">
    <md-tooltip ng-if="vm.tooltip.get()" md-direction="left">{{vm.tooltip.get()}}</md-tooltip>
    <div ng-if="vm.isForm.get()">
        <md-input-container ng-if="vm.canShowEditableFields.get()" class="entifix-select-width">
            <label>{{vm.title.get()}}</label>
            <md-select
                ng-model="vm.valueModel"
                ng-required="vm.isRequired.get()"
                ng-change="vm.runOnChangeTrigger()"
                name="{{vm.name.get()}}"
                aria-label="{{vm.name.get()}}"
                md-on-close="vm.cleanSearch()"
                data-md-container-class="selectSelectHeader"
                multiple="">
                <md-select-header class="select-header">
                    <input type="search" ng-model="vm.searchText" placeholder="Buscar {{vm.title.get()}} ..." class="header-searchbox md-text" ng-keydown="$event.stopPropagation()"/>
                </md-select-header>
                <md-select-header class="select-header">
                    <md-button layout-fill value="all" ng-click="vm.selectAll($event)" style="text-align: left;">{{vm.allLabel.get()}}</md-button>
                </md-select-header>
                <md-optgroup label={{vm.title.get()}}>
                    <md-option ng-if="vm.canShowNoneOption.get()" ng-value="undefined"><em>{{vm.noneLabel.get()}}</em></md-option>
                    <md-option ng-repeat="item in vm.items | filter:vm.searchText" ng-value="item.Value">{{item.Display}}</md-option>
                </md-optgroup>
            </md-select>
            <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                <div ng-message="required">{{vm.requiredMessage.get()}}</div>
                <div ng-message="md-multiple">{{vm.multipleMessage.get()}}</div>
            </div> 
        </md-input-container>
        
        <div ng-if="!vm.canShowEditableFields.get()">
            <label>{{vm.title.get()}}</label><br/>
            <strong>{{vm.getDisplayValue()}}</strong>
        </div>
    </div>
    <div ng-if="!vm.isForm.get()">
        <md-input-container class="entifix-select-width">
            <label>{{vm.title.get()}}</label>
            <md-select
                ng-model="vm.valueModel"
                ng-required="vm.isRequired.get()"
                ng-change="vm.runOnChangeTrigger()"
                name="{{vm.name.get()}}"
                aria-label="{{vm.name.get()}}"
                md-on-close="vm.cleanSearch()"
                data-md-container-class="selectSelectHeader"
                multiple="">
                <md-select-header class="select-header">
                    <input type="search" ng-model="vm.searchText" placeholder="Buscar {{vm.title.get()}} ..." class="header-searchbox md-text" ng-keydown="$event.stopPropagation()"/>
                </md-select-header>
                <md-select-header class="select-header">
                    <md-button layout-fill value="all" ng-click="vm.selectAll($event)" style="text-align: left;">{{vm.allLabel.get()}}</md-button>
                </md-select-header>
                <md-optgroup label={{vm.title.get()}}>
                    <md-option ng-if="vm.canShowNoneOption.get()" ng-value="undefined"><em>{{vm.noneLabel.get()}}</em></md-option>
                    <md-option ng-repeat="item in vm.items | filter:vm.searchText" ng-value="item.Value">{{item.Display}}</md-option>
                </md-optgroup>
            </md-select>
            <div ng-messages="vm.canEvaluateErrors.get()" multiple>
                <div ng-message="required">{{vm.requiredMessage.get()}}</div>
                <div ng-message="md-multiple">{{vm.multipleMessage.get()}}</div>
            </div>
        </md-input-container>
    </div>
</div>